<Style type="text/css">

head{
  display:none;
}
p {
  color: #000;
}
header{
  background-color: #E5E5E5;
  height:50px;
  width: 100%;
}
.nav {
  list-style-type:none;
  text-align: center;
  background-color: #E5E5E5;
}
.nav li{
  display:inline;
}
.nav li a{
  color: #4F4F4F;
  font-family: helvetica;
  margin-right: 30px;
  text-decoration: none;

}
}
.to-do-list{
  color: #000;
}
