<Style type="text/css">

.header {
  text-align:center;
  color: #FFFFFF;
}

p {
  color: #Fede14;
}

body{
  background-color: #424247;
  padding-top: 5px;
}
.nav {
  list-style-type:none;
  text-align: center;
}
.nav li{
  border: 3px  #FFFFFF;
  display:inline;
  padding-right: 40px;
}
.nav li a{
  text-decoration: none;
  color: #FFFFFF;
}

.content {
  padding-top: 10px;
  border:0px;
  margin: 0px;
}
.to-do-list{
  color: #FFab51
}
